div.carousel
	div.carousel__slide(data-fancybox="gallery")
		img(src="images/image-1.jpg", alt="Изображение к статье 1")
	div.carousel__slide(data-fancybox="gallery")
		img(src="images/image-2.jpg", alt="Изображение к статье 2")
	div.carousel__slide(data-fancybox="gallery")
		img(src="images/image-3.jpg", alt="Изображение к статье 3")
