div.carousel-wrapper
	div.carousel-main
		div.carousel-main__slide
			img(src="images/image-1.jpg", alt="Изображение к статье 1")
		div.carousel-main__slide.hide
			img(src="images/image-2.jpg", alt="Изображение к статье 2")
		div.carousel-main__slide.hide
			img(src="images/image-3.jpg", alt="Изображение к статье 3")

	div.carousel-small
		div#1.carousel-small__slide.hide
			img(src="images/image-small-1.jpg", alt="Изображение к статье 1")
		div#2.carousel-small__slide
			img(src="images/image-small-2.jpg", alt="Изображение к статье 2")
		div#3.carousel-small__slide
			img(src="images/image-small-3.jpg", alt="Изображение к статье 3")