div.star-rating
	input#star-4.star-rating__input(type="radio" name="star")
	label.star-rating__star(for="star-4")

	input#star-3.star-rating__input(type="radio" name="star")
	label.star-rating__star(for="star-3")

	input#star-2.star-rating__input(type="radio" name="star")
	label.star-rating__star(for="star-2")

	input#star-1.star-rating__input(type="radio" name="star")
	label.star-rating__star(for="star-1")

	input#star-0.star-rating__input(type="radio" name="star")
	label.star-rating__star(for="star-0")