header.header
	div.header__logo
		img(src="images/logo.svg", alt="Логотип")
	include menu		
	div.hamburger
		div.hamburger__square
		div.hamburger__square
		div.hamburger__square
		div.hamburger__square