.carousel-wrapper {
    display: flex;
}

.carousel-main {
    &__slide {
        width: 790px;
        height: 586px;
        cursor: pointer;
        &.hide {
            display: none;
        }
    }
}
.carousel-small {
    margin: -46px 0 -46px 50px;
    &__slide {
        width: 360px;
        height: 270px;
        margin: 46px 0;
        cursor: pointer;
        &.hide {
            display: none;
        }
    }
}

