.star-rating {
    display: flex;
    flex-direction: row-reverse;
    width: 250px;
    margin: 0 -5px;
    &__label {
        margin: 0px;
        padding: 0px;        
        width: 42px;
        height: 42px;
    }
    &__star {
        width: 42px;
        height: 42px;
        background: url('../images/sprite-stars.svg');
        background-position: 42px 0;
        margin: 0 5px;
        cursor: pointer;
        &:hover, &:hover ~ .star-rating__star {
            background-position: 0 0;
        }
    }
    &__input {
        display: none;
        margin: 0px;
        padding: 0px;     
        width: 42px;
        height: 42px;
        &:checked, &:checked ~ .star-rating__star {
            background-position: 0 0;
        }
    }  
    &__text {
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        &-2 {
            font-size: inherit;
            font-weight: 700;
        }
    }
}