.menu {
    &__list {
        @include reset-list;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 -25px;
    }
    &__item {
        margin: 0 25px;
        transition: color .3s ease;
        &:hover {
            color: #FBFF30;
        }
    }
    &__link {
        @include reset-link;
    }
}