include variables
include mixins

doctype html
html(lang="ru")
	block variables
	head 
		block head
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(charset="UTF-8")
			title #{pageTitle}
			link(href="styles/main.min.css", rel="stylesheet")
			

	body
		div.wrapper
			div.header-wrapper
				div.container
					include blocks/header
			main.main
				block content
			include blocks/similar
			include blocks/footer
			div#popup.popup
				form.form.popup__form
					div.form__title Получите больше интересных статей!
					input.form__input(name="name" type="text" placeholder="Имя *" requaired)
					input.form__input(name="email" type="text" placeholder="E-mail *" requaired)
		block scripts
			script(src="scripts/main.min.js")