include variables
include mixins

doctype html
html(lang="ru")
	block variables
	head 
		block head
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(charset="UTF-8")
			title #{pageTitle}
			link(href="styles/main.min.css", rel="stylesheet")
			

	body
		div.wrapper
			div.header-wrapper
				div.container
					include blocks/header
			main.content
				block content
		block scripts
			script(src="scripts/main.min.js")