-
	var versionFiles = 0,

	menu = [
		{
			'title': 'ГЛАВНАЯ',
			'link': '#',
		},
		{
			'title': 'НОВОСТИ',
			'link': '#',
		},
		{
			'title': 'О&nbsp;НАС',
			'link': '#',
		},
		{
			'title': 'ТУДА',
			'link': '#',
		},
		{
			'title': 'СЮДА',
			'link': '#',
		},
	];
	similar = [
		{
			'photo': 'images/autor-1',
			'name': 'Ник Перумов',
			'title': 'Выход новой книги!',
			'text': 'Неспокойные времена грядут в благословенной Долине магов. Гильдия боевых магов достигла своего расцвета: заказы из разных миров сыплются один за другим, другие Гильдии требуют сопровождения в путешествиях, а боевых магов на всех не хватает. Однако законы Долины, приведут к катастрофе. <br> РичардАссини, глава Гильдии, призывает изменить закон. ',
		},
		{
			'photo': 'images/autor-2',
			'name': 'Анжей Сапковский',
			'title': 'Анжею не понравился сериал...',
			'text': 'Автор фэнтезийного цикла книг "Ведьмак" Анджей Сапковский вновь опроверг свой статус фаната номер один одноимённого сериала Netflix. Я более чем недоволен исполнением ведьмака Генри Кавиллом. Лучше бы бомжа польского поймали, вышло бы намного ближе к Геральту. <br> единства мнений по поводу проекта Netflix у зрителей нет',
		},
	];
