-
	var versionFiles = 0,

	menu = [
		{
			'title': 'ГЛАВНАЯ',
			'link': '#',
		},
		{
			'title': 'НОВОСТИ',
			'link': '#',
		},
		{
			'title': 'О НАС',
			'link': '#',
		},
		{
			'title': 'ТУДА',
			'link': '#',
		},
		{
			'title': 'СЮДА',
			'link': '#',
		},
	];